---

- name: Guymager | add pinguin.lu repository key
  ansible.builtin.apt_key:
    url: http://deb.pinguin.lu/deb-pinguin-lu.gpg
    state: present

- name: Guymager | add pinguin.lu apt repository
  ansible.builtin.apt_repository:
    repo: 'deb [signed-by=/usr/share/keyrings/deb-pinguin-lu.gpg] http://deb.pinguin.lu/$(ARCH)/ ./'
    filename: pinguin.lu
    state: present

- name: Guymager | packages install
  ansible.builtin.apt:
    name: guymager-beta
    state: present
    update_cache: yes
  register: pkg_result
  until: pkg_result is success
  when:
    - ansible_facts['distribution'] == 'Ubuntu'
    - ansible_facts['distribution_major_version'] | int >= 20
