---
# https://www.kali.org/tutorials/installing-powershell-on-kali-linux/

- name: Ensure apt dependencies are present
  ansible.builtin.package:
    name:
      - curl
      - gnupg
      - apt-transport-https
    state: present
  register: pkg_result
  until: pkg_result is success

- name: Ensure Microsoft apt repository key is present
  ansible.builtin.apt_key:
    url: https://packages.microsoft.com/keys/microsoft.asc
    state: present
  register: pkg_result
  until: pkg_result is success

- name: Ensure Microsoft apt repository is present
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_release'] | lower }}-prod {{ ansible_facts['distribution_release'] | lower }} main"
    state: present
    filename: powershell

- name: Ensure Powershell package is present
  ansible.builtin.package:
    name: powershell
    state: present
  register: pkg_result
  until: pkg_result is success
