[Desktop Entry]
Name=NetworkMiner
Exec=mono /opt/NetworkMiner/NetworkMiner.exe --noupdatecheck
Comment=network forensics tool
Icon=
NoDisplay=false
Categories=
Type=Application
